* {
    padding: 0;
    margin: 0;
  }
  
  #mainContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F4F2;
  }

  .manaDetails {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .miniMana{
    width: 20px;
    margin: 3px;
  }
  
  .descriptionContainer {
    padding: 50px 0;
    min-height: fit-content;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    height: 800px;
  }
  
  #header {
    display: flex;
    flex-direction: column;
  }

  .navList {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    width: 30%;
  }
  
  .navList li {
    color: grey;
    border: 1px solid gray;
    list-style-type: none;
    padding: 10px;
  }
  
  .navList a {
    text-decoration: none;
  }
  
  .navMenu {
    width: 50px;
    margin: auto;
    font-size: 30px;
    color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(208, 208, 208);
  }

.set {
    display: flex;
    align-items: center;
    border: 2px solid rgb(208, 208, 208);
    justify-content: space-between;
    height: 30px;
    min-width: max-content;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(208, 208, 208);
  }
  
  .cardLogo {
    color: white;
    font-weight: 900;
    background-color: black;
    padding: 3px;
    border-radius: 2px;
  }
  
  .cardNumber {
    font-weight: 900;
  }
  
  .setType {
    border: none;
    background-color: rgb(238, 232, 237);
  }
  
  .navigation {
    width: 100%;
  }

  .englishName {
    color: gray;
    font-style: italic;
  }
  
  .heartButton {
    font-size: 30px;
  }
  
  .cardPreviewContainer {
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .blue {
    color: rgb(79, 135, 207);
  }

  .red {
    color: rgba(246, 19, 19, 0.872);
  }
  
  .imgPreview {
    width: 250px;
    height: 350px;
  }
  
  .imgList {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: calc(135px * 2);
  }
  
  .imgList li {
    list-style-type: none;
  }
  
  .imgList li img{
    filter: grayscale(100%);
  }
  
  .miniCard {
    width: 130px;
    height: 200px;
    margin-right: 5px;
  }
  
  .divisor {
    border: none;
    height: 1px;
    width: 80%; 
    background-color: #ccc; 
    margin: 30px 0 0 0;
  }
  
  .navMenu:active {
    height: 34px;
    background-color: rgb(84, 83, 83);
  }
  
  .shopListContainer{
    display: flex;
    flex-direction: column;
    background-color: #ECECEA;
    box-shadow: 5px 5px 5px rgb(208, 208, 208);
    padding: 5px 0;
    width: 98%;
  }

  .itemShopList {
    color: gray;
    border: 2px solid gray;
    padding: 0 5px;
  }

  .detailsContainer div {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    color: gray;
  }

  .detailText {
    color: black;
    font-weight: bold;
  }
  
  .detailTextAll {
    color: #FF5921;
    font-weight: bold;
    border: none;
    font-size: 16px;
    background-color: rgb(245, 240, 244);
  }
  .shopList {
    color: rgb(67, 66, 66);
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .totalCards {
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
    padding-top: 1px;
  }

  .shopListToogle {
    font-size: 20px;
    width: 35px;
    padding: 2px;
  }

  .shopListButton{
    background-color: rgb(36, 179, 36);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    height: 50px;
    width: 250px;
    align-self: center;
    border: none;
  }